/* p { font-size: 15px; } */
/* body { font: normal x-small arial,helvetica,sans-serif; } */

#sr-header-area .sr-list { margin-left: 5px; }
#sr-header-area div.srdrop > * { display: none !important }
#sr-header-area div.sr-list > * { display: none !important }
#sr-header-area div.sr-list > .sr-bar:nth-of-type(2) { display: block !important; text-transform:lowercase; font-size: 1.1em;}
#sr-header-area div.sr-list span.separator { margin: 0px 0.3ex !important; }
#sr-header-area #sr-more-link { display: none !important }
div.link.promotedlink.promoted { display: none !important }
